@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MilestoneFreeVersion-Script";
  src: url("/fonts/MilestoneFreeVersion-Script.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Thin";
  src: url("/fonts/CreatoDisplay-Thin.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-ThinItalic";
  src: url("/fonts/CreatoDisplay-ThinItalic.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Light";
  src: url("/fonts/CreatoDisplay-Light.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Medium";
  src: url("/fonts/CreatoDisplay-Medium.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-ExtraBold";
  src: url("/fonts/CreatoDisplay-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Bold";
  src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-ExtraBoldItalic";
  src: url("/fonts/CreatoDisplay-ExtraBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Black";
  src: url("/fonts/CreatoDisplay-Black.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-BlackItalic";
  src: url("/fonts/CreatoDisplay-BlackItalic.otf") format("opentype");
}
* {
  scroll-behavior: smooth !important;
}
.snapwidget-widget {
  aspect-ratio: 16/9;
  padding: 6rem;
  overflow: hidden;
  margin-top: -22rem;
}

.media-grid .clearfix {
  gap: 2rem;
  margin: 5rem;
}
.swiper-button-prev,
.swiper-button-next {
  color: aliceblue !important;
  font-weight: 900;
  margin-left: 2rem;
  margin-right: 2rem;
}
.swiper-pagination-bullet-active{
    background-color: aliceblue !important;
  }
.swiper-pagination-bullet{
  width: 40px !important;
  height: 15px !important;
  border: 3px solid #fff;
  border-radius: 3px !important;
}
.swiper-pagination{
  margin-bottom: 2.5rem;
}
.menu-black-text{
  color: black;
}



.my-customclass-hover:hover::after{
  width: 46px;
  height:46px;
  content: " ";
  position:absolute;
  top:30px;
  left:30px;
  background-image: url("https://images.pexels.com/photos/17200681/pexels-photo-17200681/free-photo-of-ligero-ciudad-paisaje-puesta-de-sol.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

}
.my-customclass-hover::after{
  width: 46px;
  height:46px;
  content: " sdsd ";
  position:absolute;
  top:30px;
  left:60px;
  background-image: url("https://images.pexels.com/photos/17230281/pexels-photo-17230281/free-photo-of-blanco-y-negro-ciudad-carretera-hombre.jpeg");

}