@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MilestoneFreeVersion-Script";
  src: url("/fonts/MilestoneFreeVersion-Script.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Thin";
  src: url("/fonts/CreatoDisplay-Thin.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-ThinItalic";
  src: url("/fonts/CreatoDisplay-ThinItalic.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Light";
  src: url("/fonts/CreatoDisplay-Light.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Medium";
  src: url("/fonts/CreatoDisplay-Medium.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-ExtraBold";
  src: url("/fonts/CreatoDisplay-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Bold";
  src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Regular";
  src: url("/fonts/CreatoDisplay-Regular.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-ExtraBoldItalic";
  src: url("/fonts/CreatoDisplay-ExtraBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-Black";
  src: url("/fonts/CreatoDisplay-Black.otf") format("opentype");
}
@font-face {
  font-family: "CreatoDisplay-BlackItalic";
  src: url("/fonts/CreatoDisplay-BlackItalic.otf") format("opentype");
}
* {
  scroll-behavior: smooth !important;
  list-style: none;
}
.snapwidget-widget {
  aspect-ratio: 16/9;
  padding: 6rem;
  overflow: hidden;
  margin-top: -22rem;
}

.media-grid .clearfix {
  gap: 2rem;
  margin: 5rem;
}
.swiper-button-prev,
.swiper-button-next {
  color: aliceblue !important;
  font-weight: 300;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
/*@media screen {
  .swiper-button-prev,
.swiper-button-next {

}
}
*/
.swiper-pagination-bullet-active {
  background-color: aliceblue !important;
}
.swiper-pagination-bullet {
  width: 2rem !important;
  height: 1-px !important;
  border: 3px solid #fff;
  border-radius: 3px !important;
}
.swiper-pagination {
  margin-bottom: 2.5rem;
}
.menu-black-text {
  color: black;
}

.czm-text-sh {
  text-shadow: 10px -12px 15px black;
}

.link-hov-effect {
  background-position: bottom;
  opacity: 95%;
  background-position-x: 100%;
  transition: .8s ease-in-out;
}
.link-hov-effect:hover{
  background-image: url("/img/underline-img.png");
  background-position: bottom;
  background-position-x: 50%;
  background-repeat: no-repeat;
  opacity: 85%;
  z-index: 9;
}
.nav-hov-effect {
  opacity: 95%;
  background-position-y: 95%;
  transition: .1s ease-in-out;
  padding-bottom: 10px;
}
.nav-hov-effect:hover{
  background-image: url("/img/underline-img.png");
  background-position: bottom;
  background-position-y: 80%;
  background-repeat: no-repeat;
  opacity: 85%;
  z-index: 9;
  background-size: contain;
}
.nav-hov-effect:focus{
  background-image: url("/img/underline-img.png");
  background-position: bottom;
  background-position-y: 80%;
  background-repeat: no-repeat;
  opacity: 85%;
  z-index: 9;
  background-size: contain;
}

/*ALINEAR LA ULTIMA FRASE*/
.txt-align-lts{
  text-align-last: center;
}